div.container.
    <div>
        <div id="status"></div>
        <div id="notepad">
            <div class="meta">
                <a id="feedback" class="btn btn-mini" href="mailto:instruct@vonholzen.org">
                    <i class="icon-envelope"></i>
                    Send feedback...</a>

                <table class="title toggle">
                    <tr>
                        <td><h3><span class="toggle-button ui-icon ui-icon-plus"></span></h3></td>
                        <td><h3 rel="rdfs:label">inStruct</h2></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="table toggle-target">
                                <div class="row">
                                    <div about="notepad:endpoint" class="predicate">
                                        <div property="rdfs:label">Endpoint</div>
                                    </div>
                                    <div property="notepad:endpoint" class="object"></div>
                                </div>
                                
                                <div class="row">
                                    <div about="notepad:created" class="predicate">
                                        <div property="rdfs:label">Created</div>
                                    </div>
                                    <div property="notepad:created" class="object"></div>
                                </div>
                                <div class="row">
                                    <div about="notepad:uri" class="predicate">
                                        <div property="rdfs:label">URL</div>
                                    </div>
                                    <div property="notepad:uri" class="object"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <ul class="data container"></ul>

                <div>
                    <a class="save btn btn-primary" href="#">
                        <i class="icon-save"></i>
                        Save</a>
                    <div class="status"></div>

                    <div class="debug">
                        <a class="preview btn" href="#">
                            Preview...</a>
                        <div class="turtle delete"></div>
                        <div class="turtle update"></div>
                    </div>

                    <div class="debug">
                        <a class="triples btn" href="#">
                            View triples...</a>
                        <div class="turtle"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <i id="debug" class="btn toggle icon-wrench icon-2x" data-toggle=".debug"></i>

    <span id="control">
        <div id="menu-button">
        </div>
        <ul id="menu">
            <li class="template"><a property="ui:select"></li>

            <!-- the following line is here only to ensure that the menu displays icons properly -->
            <li class="ui-state-disabled">
                <ul>
                    <li><a href="#"><span class="ui-icon ui-icon-check"></span></a></li>
                </ul>
            </li>
        </ul>
    </span>
