!!! 5
html
	head
		title inStruct
		link(rel='stylesheet', href='/notepad/external/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='icon', type='image/png', href='/img/icon-plus.png')

		// should: be added by notepad.jade
		link(rel='stylesheet', href='/notepad/css/widgets.css')
		link(rel='stylesheet', href='/notepad/css/notepad.css')
		link(rel='stylesheet', href='/notepad/external/jquery-ui.css')
		link(rel='stylesheet', href='/notepad/external/font-awesome/css/font-awesome.min.css')

		script(src='/notepad/external/google-analytics.js')
		script(type='text/javascript')
		
	body.hideDebug
	block content
	block scripts