
extends layout

block content
	#login-container
		form( method="post")#login-form.well.span4
			h1 inStruct
			p.subheading Give Structure, Gain Insight
			p
			label Username 
			input(type="text", name="user", id='user-tf').span4.required
			label Password
			input(type="password", name="pass", id='pass-tf').span4.required
			a(href='#')#forgot-password Forgot Your Password?
			button(type="submit")#btn-login.btn.btn-primary
				i.icon-lock.icon-white
				| &nbsp; Sign in
			label#remember-me.checkbox Remember Me
				input(type="checkbox", checked='checked')
			div.clear-fix
			hr
			div.btm-links
				a.btn.btn-success(href='/signup')#create-account Create a new account

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/notepad/external/jquery.js')
	script(src='/vendor/jquery.form.js')
	script(src='/notepad/external/bootstrap/js/bootstrap.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')