@CHARSET "UTF-8";
/*
 * External Link
 */

.notepad-external-link a {
	text-decoration: none;
	font-size: small;
	margin-left: 10px;
}
.ui-menu-item .notepad-external-link > a {
    display: inline-block;
}

/*
 * Graph
 */
circle.node {
  cursor: pointer;
  /*fill-opacity: .25;*/
  stroke: #000;
  stroke-width: .5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}
text {
  font: 10px sans-serif;
}
