
form(method="post")#get-credentials-form
    #get-credentials.modal-single-input.modal.hide.fade
        div.modal-header
            a.close(data-dismiss='modal') &times;
            h3 Retrieve Password
        div.modal-body
            p Please enter the email address associated with your account
            input(type="text", name="email", id='email-tf').span5.required
            div.alert.alert-error.hide
        div.modal-footer
            a(data-dismiss="modal")#cancel.btn Cancel
            button(type="submit")#submit.btn.btn-primary Submit
            a(data-dismiss="alert").close
