
form(method="post")#set-password-form
    #set-password.modal-single-input.modal.hide.fade
        div.modal-header
            a.close(data-dismiss='modal') &times;
            h3 Reset Password
        div.modal-body
            p Please enter your new password
            input(type="password", name="pass", id='pass-tf').span5.required
            div.alert.alert-error.hide
        div.modal-footer
            button(type="submit")#submit.btn.btn-primary Submit
            a(data-dismiss="alert").close
     